<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vano.workoutplanreminder" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.vano.workoutplanreminder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<service
			android:name="com.example.vano.workoutplanreminder.MyService"
			android:enabled="true"
			android:exported="true" >
		</service>
		<receiver
			android:name="com.example.vano.workoutplanreminder.MyBroadcastReceiver"
			android:exported="false" >
		</receiver>
    </application>

</manifest>
